.*
!/.buildkite/
!/.codeclimate.yml
!/.envrc
!/.gitattributes
!/.github/
!/.gitignore
!/.golangci.yaml
!/.markdownlint.yaml
!/.mockery.yaml
!/.prettierrc.yaml
!/.yamlfmt
!/.yamllint
/bin/
/cover.out
/test.xml
/trace.out
